.q__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.question__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%
}

.projects_container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 550px;
}

.q__container h1 {
  font-size: 22px;
}

.projects_links {
  display: flex;
  flex: 1;
  justify-content: center;
}

.projects_inputs {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.portfolio_container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.portfolio_name {
  display: flex;
  flex: 1;
  justify-content: center;
}

.portfolio_input {
  display: flex;
  flex: 1;
}

.q__input {
  width: 317px;
  height: 53px;
  border-radius: 10px;
}

.q__input__project2 {
  width: 317px;
  height: 53px;
  border-radius: 10px;
}

.q__input__stack {
  width: 80%;
  height: 50px;
  text-indent: 72px;
  border-radius: 10px;
  background-image: url('/assets/stack.png');
  background-repeat: no-repeat;
  background-position: 13px;
  background-size: 43px;
  font-size: 16px;
}

.q__input__in {
  width: 80%;
  height: 50px;
  text-indent: 72px;
  border-radius: 10px;
  background-image: url('/assets/in.png');
  background-repeat: no-repeat;
  background-position: 13px;
  background-size: 43px;
  font-size: 16px;
}

.Q_dropdown {
  background-color: #F2F2F2;
  width: 345px;
  height: 54px;
  font-size: 17px;
  border-radius: 10px;
  cursor: pointer;
}

.q1__h3 {
  margin-top: 10px;
  font-size: 24px;
  font-weight: normal;
  font-family: Lato;
  text-align: left;
}

.end__h1 {
  font-size: 42px;
}

.end__p {
  font-size: 24px;
}

.movment {
  display: flex;
  justify-content: space-between;
  width: 700px;
  height: 80px;
}

.q3__input {
  text-indent: 23px;
  margin-top: 30px;
  align-self: center;
  width: 317px;
  height: 53px;
  border-radius: 10px;
}

.myskills_container {
  display: flex;
  justify-content: center;
}

.mySkill {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 31px;
  padding: 0px 25px;
  background: #000;
  border-radius: 455.5px;
  width: 51px;
}

.mySkills_list {
  display: flex;
  justify-content: space-around;
  width: 313px;
  justify-self: center;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  height: 117px;
  margin: 0;
  padding: 0;
}

/*Select tech skills*/

.selectBox {
  position: relative;
}

.selectBox select {
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.checkboxes {
  display: none;
  border: 1px #dadada solid;
  width: 341px;
  justify-content: center;
  margin: 0 auto;
  font-size: 21px;
}

.checkboxes label {
  display: block;
  padding-bottom: 2px;
  border: 1px solid #f3f3f2;
}

.checkboxes label:hover {
  background-color: #1e90ff;
}

/*Colored radio*/

.custom-radios div {
  display: inline-block;
}

.custom-radios input[type="radio"] {
  display: none;
}

.custom-radios input[type="radio"]+label {
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 18px;
}

.custom-radios input[type="radio"]+label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 44px;
  cursor: pointer;
}

.custom-radios input[type="radio"]+label span img {
  opacity: 0;
  transition: all .1s ease;
  cursor: pointer;
}

.custom-radios input[type="radio"]#color-1+label span {
  background-color: orange;
  cursor: pointer;
}

.custom-radios input[type="radio"]#color-2+label span {
  background-color: red;
  margin-left: 45px;
  cursor: pointer;
}

.custom-radios input[type="radio"]#color-3+label span {
  background-color: green;
  margin-left: -10px;
  cursor: pointer;
}

.custom-radios input[type="radio"]:checked+label span img {
  opacity: 1;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.end {
  padding: 11px;
}

.end__btn {
  width: 275px;
}

.q6__container {
  display: flex;
  justify-content: space-evenly;
}

.q6_input {
  display: flex;
  flex-direction: column;
  height: 180px;
}

.q6_input input {
  height: 42px;
  width: 210px;
  margin-bottom: 13px;
  text-indent: 10px;
  border-radius: 10px;
  border:none
}

.q6__lastInput {
  margin: 0 !important;
}

.q6_links {
  display: flex;
  flex-direction: column;
  height: 248px;
}

.q6_input__h3 {
  cursor: pointer;
}

.q6__h3 {
  height: 198px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.q6_p__h3 {
  height: 75px;
}

.Link {
  text-decoration: none;
}
.Dropzone{
  width: '200px';
  height: '66px';
  border: 2px dashed #fff;
  border-radius: 12px
}

@media only screen and (max-width: 700px){
  .Dropzone{
    width: 106px;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    border-style: dashed;
    border-radius: 12px;
  }
  .q6_input{
    height: 192px;
  }
  .q6_input input{
    width: 100px;
    font-size: 10px;
  }
  .q6_input input:last-child{
    margin-top: 20px;
  }
  .q6_input__h3{
    font-size: 10px;
  }
  .projects_container_name2{
    margin-top: 0;
  }
}
