.setting {
  width: 100%;
  height: 100vh;
  background-image: url('/assets/Artboard1.png');
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.setting__nav {
  display: flex;
  justify-content: center;
  height: 79px;
  width: 100%;
  background-color: white;
}

.setting__nav img {
  height: 73px;
}

.setting__nav h1 {
  font-family: Lato;
}

.setting__container {
  width: 759px;
  height: 419px;
  background-color: white;
}

.big__container {
  margin-top: 26px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.setting__container h1 {
  text-align: center;
  font-family: Lato;
  font-weight: normal;
}

.setting__input {
  border: 2px solid black;
  text-indent: 8px;
}

.container__left {
  display: flex;
  /* flex-direction: column; */
  width: 350px;
  /* align-items: center; */
  /* height: 295px; */
  justify-content: space-around;
}

.container__right {
  display: flex;
  flex-direction: column;
  width: 350px;
  align-items: center;
  height: 295px;
  justify-content: space-around;
}

.social__links__setting {
  width: 134px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.social__links__setting img {
  height: 19px;
}

.settings__save__btn {
  background-color: #67B5BA;
  border: none;
  border-radius: 13px;
  color: white;
  font-size: 22px;
  cursor: pointer;
  padding: 5px 36px;
}

.setting__btn__div {
  display: flex;
  justify-content: center;
  margin-top: -6px;
}

.github__URL {
  background-image: url('/assets/github.svg');
  background-repeat: no-repeat;
  background-position: 3px;
  background-size: 14px;
  text-indent: 21px;
}

#setting_input_btn, #setting_input_btn2, #setting_input_btn1 {
  border: 2px solid;
  padding: 6px;
  display: flex;
  justify-content: center;
}

.setting_edit {
  background-color: inherit;
  border: none;
}

.fa-pencil, .fa-check {
  pointer-events: none;
}

.edit {
  background-color: transparent;
  border: none;
  float: right;
  color: #000;
}

.hidden {
  display: none;
}

.setting_selectBox {
  position: relative;
}

.setting_selectBox select {
  width: 100%;
  font-weight: bold;
}

.setting_overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.setting_checkboxes {
  overflow: scroll;
  height: 90px;
  display: none;
  border: 1px solid #dadada;
}

.setting_checkboxes label {
  display: block;
}

.setting_checkboxes label:hover {
  background-color: #1e90ff
}

.setting_names {
  height: 295px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media only screen and (max-width: 700px) {
  .setting__container {
    display: flex;
    flex-wrap: wrap;
    width: 333px;
    overflow: scroll;
    justify-content: center;
  }

}
