.testNav{
  width: 100%;
  height: 60px;
  background: gray;
}
.admindashboard{
  background-color: #E5E5E5;
  height: 100%;
}

.admindashboard__container{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.admindashboard__beatLoader{
  margin-left: 100px;
  margin-top: 200px;
  font-size: 26px;
}

@media only screen and (min-width : 768px) and (max-width : 1024px) {
  .admindashboard__container {
    width: 90%
  }
  .filter{
    width: 30vw;
  }
  .student{
    width: 50vw;
  }
}
@media only screen and (max-width: 568px) {
    .admindashboard__container{
      display: block;
    }
}
